* {
    font-family: sans-serif;
    text-align: center;
font-size: 16px;
}

body{
    background-color: #5f6366;
}



.column1, .column2, .column3, .column4 {
    width: 40%;
    height: 20em;
    float: left;
    margin: 5%;
    margin-top: 0%;
background-color:#86B3D1;
}


.photo{
    float: left;
    width: 50%;
    max-height: 90%;
}

.desc{
    float: right;
    width: 50%;
    height: 100%;
}

h1{
    font-size: 3.5em;
    color: white;
    font-family: 'Playfair', serif;
}

h2{
    font-size:2.7em;
    color: white;
    font-family: 'Playfair', serif;

}


.photo img{
    max-width: 95% ;
    float: left;
    margin: 2.5%;
    padding-top: auto;
    padding-bottom: auto;
    
}

.desc p{
   margin: 1%;
   margin-left: 2%;
   margin-right: 2%; 
   font-size: 1em;
   color: #5f6366;
   font-family: 'PT Sans', sans-serif;
   
}

body {
    width: 100%;
    margin: 1% auto;}


#nav li{
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #4D6D9A;
    font-size: 1em;
    padding: 0.5%;
}

#nav li a{
    font-size: 1.5em;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

div#header{
    background-color: #4D6D9A;
}

div#nav{
    background-color: #99CED3;
}

div#localNav{
    background-color: #86B3D1;
    padding: 0.1%;
}

#localNav li{
    display: inline;
    margin: 1%;
    background-color: #4D6D9A;
    font-size: 1em;
    padding: 0.2%;
    
}

#localNav li a{
    font-size: 1em;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#top4{
    width: 5em;
    border-style:dashed;
    border-width: 0.2em;
    border-color: #5f6366; 
}


.logo{
    width: 5em;
    border-style:dashed;
    border-width: 0.2em;
    border-color: #5f6366; 
}

#banner{
    width:100%;
}

#banner img{
    max-height: 30em;
    width: 100%;
}

div#content h4{
text-decoration: underline;
font-size: 1.2em;
color: whitesmoke;
font-family: 'Open Sans', sans-serif;

}



@media screen and (max-width: 1024px) and (min-width: 769px){
    *{
        font-size: 18px;
    }
    
    .column1,.column2,.column3,.column4
    {
    width: 23%;
    float: left;
    margin-bottom: 1em;
    margin: 1%;
    height: 40em;
    

    }
    .photo{
        min-width: 95%;
        margin-bottom: 1em;
        margin: 2.5%;
        height: auto;
    }

    .desc{min-width: 95%;
        
    }

}


 @media screen and (max-width: 768px){
    *{
        font-size: 20px;
    }
    .column1, .column2, .column3,.column4 {
    width: 98%;
    float: left;
    margin-bottom: 1em;
    margin: 1%;
    height: auto;
        }
    
 .column1 img, .column2 img, .column3 img, .column4 img{
            max-width: 95% ;
            height: 95%;
            float: left;
            margin: 1%;
            
        }


        }

